<title>Sandra Finance</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />